[Desktop Entry]
Type=Application
Name=Notepad++
GenericName=Text Editor
Comment=Native Linux port of Notepad++
Exec=npp_linux %F
Icon=notepad-plus-plus
Terminal=false
Categories=Utility;TextEditor;Development;
MimeType=text/plain;
StartupNotify=true
